BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
UseTab: Never
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: CurrentLine
AllowShortLambdasOnASingleLine: Empty
ContinuationIndentWidth: 2
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeCpp11BracedList: true
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false
Standard: c++20
